<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jurassic Park: The breath of a Lost Era</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Jurassic Park: The breath of a Lost Era</h1>
        </header>
        <nav>
            <a href="#">Tyrannosaurus Rex</a>
            <a href="#">Velociraptor</a>
            <a href="#">Triceratops</a>
            <a href="#">Brachiosaurus</a>
            <a href="#">Dilophosaurus</a>
        </nav>
        <main>
            <h2 class="subtitle">What is the Jurassic Park?</h2>
            <figure class="park">
                <img src="entrance.jpg" alt="Jurassic Park entrance">
                <figcaption>Jurassic Park Entrance</figcaption>
            </figure>
            <p>
                Jurassic Park is a science fiction movie, directed by Steven Spielberg. This movie is based on a novel written by Michael Crichton. The main theme is genetic engineering revives dinosaurs. The theme points out the ethic problem caused by human scientific technology. The line “Life Finds a Way” refers to how powerful nature is.
            </p>
            <p>
                Inside the Jurassic Park, massive electric fences and gates are installed to contain the dinosaurs. The tourists experience amazing scenery of watching live dinosaurs by taking special cars. However, due to the limitations of technology and human greed, the dinosaurs escaped and the island fell into chaos. With its groundbreaking CGI and the theme, this movie remains a masterpiece. 
            </p>
        </main>
        <footer>
            <p>&copy; 2025 Hyojin Cho. Photo curtesy of Bill Couch via Flickr, not copyrighted by me.</p>
        </footer>
    </div>
</body>
</html>