body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #233d4d;
    margin: 0;
    color: hsl(43, 100%, 95%);
    text-align: center;
    line-height: 1.2;
}

header {
    background-color: #fcca46;
    color: #233d4d;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(44, 100%, 81%);
    flex-direction: row;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: hsl(44, 100%, 81%);
    color: #d87504d8;
    font-weight: bold;
}

nav a:hover {
    background-color: #d87504d8;
    color: hsl(44, 100%, 81%);
}

.current {
    background-color: #d87504d8;
    color: hsl(44, 100%, 81%);
}

.navlink {
    background-color: hsl(44, 100%, 81%);
    color: #d87504d8;
}

.side {
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0;
    min-width: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.side h3 {
    margin: 0;
    color: hsl(43, 100%, 95%)
}

.sidebar-list li {
    margin-bottom: 0.5px;
}

main {
    flex: 1;
    min-width: 0;
}

main h2 {
    margin: 0;
    color: hsl(43, 100%, 95%)
}

header h1 {
    margin: 0;
}

.festival {
    border: thin solid #cb9b65;
    width: 250px;
    flex-shrink: 0;
}

.festival img {
    width: 100%;
    display: block;
    height: auto;
}

.main-row {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.home .row {
    justify-content: flex-start;
}

.card {
    border: thin solid #cb9b65;
    box-shadow: 3px 3px 5px #615c55;
    width: 300px;
    margin: 5px;
}

.card img {
    width: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: #cb9b65;
    text-align: left;
    margin-bottom: 20px; 
}

figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #619b8a
}

.highlight {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.tablewrap {
    flex: 1;
}

.sidebar {
    flex: 0 0 250px;
    background-color: rgb(255, 254, 240);
    border-left: 1px solid rgb(126, 106, 106);
    padding: 12px;
    position: sticky;
    top: 12px;
}

.sidebar h3 {
    margin: 0;
    color: #233d4d;;
}

.summary {
    border: thin solid rgb(101, 95, 32);
    padding: 5px;
    background-color: #619b8a;
}

.summary th, .musical td {
    border: thin solid rgb(101, 95, 32);
    padding: 5px;
}

.summary thead tr {
    background-color: #384a34;
    color: rgb(255, 254, 240);
}

.summary tbody tr {
    background-color: rgb(255, 254, 240);
    color: #233d4d;
}

.summary tbody tr:nth-child(odd) {
    background-color: rgb(227, 238, 197);
}

.summary tbody tr:nth-child(even) {
    background-color: #a1c181;
}

.koreaimage {
    width: 220px;
    max-width: 220px;
    height: auto;
}

.pink {
    color: pink;
}

.brown {
    color: brown;
}

.orange {
    color: orange;
}

.skyblue {
    color: skyblue;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 15px 0;
}

.check-row .option {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.check-row input[type="radio"],
.check-row input[type="checkbox"] {
    margin-right: 5px;
}

.label-text {
    width: 150px;
    text-align: left;
}

.spacer {
    width: 150px;
    text-align: right;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 8px;
    border-radius: 4px;
    border-color: #384a34;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: mintcream;
}

.form-row input[type='submit'] {
    background-color: #384a34;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

fieldset {
    background-color: #a1c181;
    width: 80%;
    margin: auto;
}

legend {
    background-color: #619b8a;
    color: white;
    padding: 10px;
}

@media ONLY print {
    body {
        font-family: 'Courier New', Courier, monospace;
    }

    article {
    font-family: 'Times New Roman', Times, serif;
    }

    nav {
    display: none;
    }

    .row {
        gap: 12px;
    }
}

@media ONLY screen AND (max-width: 500px) {
    nav {
        flex-direction: column;
        padding: 15px;
        font-size: 18px;
    }

    .main-row {
        flex-direction: column-reverse;
    }

    .side {
        width: 100%;
    }

    .form-row, .check-row {
        flex-direction: column;
    }

    .form-row label, .spacer {
        text-align: left;
    }

    .form-row input[type='submit'] {
        padding: 10px 40px;
    }
}

@media ONLY screen AND (max-width: 700px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}