.current {
    color: #b2967d;
}

.navlink {
    color: #008cff;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background: url('sandbg.jpeg') repeat #f7ece1
}

.flag {
    background: url('southkoreaflagdeco.jpg') no-repeat top right;
}

.ocean {
    list-style-image: url(oceandot.png);
}

h2 {
    color: #7389ae
}

p {
    color: #23395b
}