body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6fdf0;
    margin: 0;
    color: #544d32;
    text-align: center;
    line-height: 1.2;
}

header {
    background-color: #ffcab1;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #ecdcb0;
    flex-direction: row;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #ecdcb0;
    color: #cb9b65;
    font-weight: bold;
}

nav a:hover {
    background-color: #cb9b65;
    color: #ecdcb0;
}

.side {
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0;
    min-width: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.side h3 {
    margin: 0;
    color: #544d32;
}

main {
    flex: 1;
    min-width: 0;
}

main h2 {
    margin: 0;
    color: #544d32;
}

header h1 {
    margin: 0;
}

.family {
    border: thin solid #cb9b65;
    width: 250px;
    flex-shrink: 0;
}

.family img {
    width: 100%;
    display: block;
    height: auto;
}

.main-row {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.card {
    border: thin solid #cb9b65;
    box-shadow: 3px 3px 5px #615c55;
    width: 300px;
    margin: 5px;
}

.card img {
    width: 100%;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #cb9b65;
    text-align: left;
}

figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6dc061;
}

@media ONLY print {
    body {
        font-family: 'Courier New', Courier, monospace;
    }

    article {
    font-family: 'Times New Roman', Times, serif;
    }

    nav {
    display: none;
    }

    .row {
        gap: 12px;
    }
}

@media ONLY screen AND (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    .main-row {
        flex-direction: column-reverse;
    }

    .side {
        width: 100%;
    }
}

@media ONLY screen AND (max-width: 700px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}